<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=2.0.8.0, Culture=neutral, PublicKeyToken=669e0ddf0bb1aa2a"/>
  </configSections>
  
  <!--Log4net configuration-->
  <log4net>
    
    <!--ConsoleAppender-->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newlineUTC Date - %utcdate{HH:mm:ss}%newlineMessage - %message"/>
      </layout>
    </appender>
    
    <!--FileAppender-->
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="LogFile.html"/>
      <appendToFile value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newlineUTC Date - %utcdate{ABSOLUTE}%newlineMessage - %message%newlineUsername - %username%newline"/>
      </layout>
    </appender>
    
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="FileAppender"/>
    </root>
    
  </log4net>

  <appSettings>
    <add key="Browser" value="Chrome"/>
    <add key="StartUrl" value="https://www.fifa.com/worldcup/"/>
    <add key="10 min random email" value="https://10minutemail.net/?lang=ru"/>
    <add key="ElementTimeout" value="60"/>
    <add key="ImplicitWait" value="60"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
